<section class="bg-[var(--main-bg-light)] dark:bg-[var(--main-bg-dark)] text-sm text-[var(--main-text-light)] dark:text-[var(--main-text-dark)]">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-[var(--main-text-light)] space-x-3 dark:text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-metal">
        <path d="M18 12.5V10a2 2 0 0 0-2-2a2 2 0 0 0-2 2v1.4" />
        <path d="M14 11V9a2 2 0 1 0-4 0v2" />
        <path d="M10 10.5V5a2 2 0 1 0-4 0v9" />
        <path d="m7 15-1.76-1.76a2 2 0 0 0-2.83 2.82l3.6 3.6C7.5 21.14 9.2 22 12 22h2a8 8 0 0 0 8-8V7a2 2 0 1 0-4 0v5" />
      </svg>
      <span class="self-center text-2xl font-semibold whitespace-nowrap">{{#if enterprise}} {{enterprise.name}} {{else}} Empresa {{/if}}</span>
    </a>
    <div class="w-full p-6 rounded-lg shadow dark:border-none md:mt-0 sm:max-w-md sm:p-8 bg-[var(--main-light-1)] dark:bg-[var(--main-dark-5)]">
      <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-[var(--main-text-light)] md:text-2xl dark:text-white text-center">
        Completa el formulario para cambiar la contraseña
      </h1>
      <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="/api/client/sessions/account/reset-password/{{token}}" method="post">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Tu email</label>
          <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-[var(--main-dark-2)] dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ejemplo@ejemplo.com" required="" />
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Ingresa tu contraseña</label>
          <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-[var(--main-dark-2)] dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••••" required="" />
        </div>
        <div>
          <label for="repeat-password" class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Repetí tu contraseña</label>
          <input type="password" name="repeat-password" id="repeat-password" class="bg-gray-50 border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-[var(--main-dark-2)] dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••••" required="" />
        </div>
        <button type="submit" class="w-full bg-[var(--main-bg-dark)] dark:bg-[var(--main-bg-light)] text-[var(--main-text-dark)] dark:text-[var(--main-text-light)] font-semibold rounded-md py-2 px-4">Cambiar contraseña</button>
      </form>
    </div>
  </div>
</section>