<a href="/admin/productos"
  class="w-fit text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] flex hover:underline mb-2">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left">
    <path d="m12 19-7-7 7-7" />
    <path d="M19 12H5" />
  </svg>
  Volver
</a>

<section>
  <div class="w-full md:w-[50%]">
    <h2 class="mb-4 text-xl font-bold text-[var(--main-text-light)] dark:text-white">Agrega un
      nuevo producto</h2>
    <form action="/api/admin/products" method="POST" id="product-form" enctype="multipart/form-data">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Nombre
            del producto</label>
          <input type="text" name="title" id="title"
            class="bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Nombre del producto" required-field />
        </div>
        <div class="w-full">
          <label for="slug"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Slug</label>
          <input type="text" name="slug" id="slug"
            class="bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Slug del producto" required-field />
        </div>
        <div class="w-full">
          <label for="published_date"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Fecha de
            publicación</label>
          <input type="date" name="publishedOn" id="publishedOn"
            class="bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Product published date" disabled />
        </div>
        <div class="w-full">
          <label for="brand"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Marca</label>
          <input type="text" name="brand" id="brand"
            class="bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Marca del producto" />
        </div>
        <div class="w-full">
          <label for="price"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Precio</label>
          <div
            class="flex bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <span class="pl-2.5 py-2.5">$</span>
            <input class="w-full bg-transparent border-none outline-none pr-2.5 py-2.5" type="number" name="price"
              id="price" placeholder="145000" required-field />
          </div>
        </div>
        <div>
          <label for="category"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Categoría</label>
          <select id="category" name="categories"
            class="bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required-field>
            <option value="" selected>Selecciona una categoría</option>
            {{#each categories}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div>
          <label for="stock"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Stock</label>
          <input type="number" name="stock" id="stock"
            class="bg-[var(--main-light-1)] border border-gray-300 text-[var(--main-text-light)] text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Stock del producto" required-field />
        </div>
        <div class="sm:col-span-2">
          <label for="featured"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Producto
            Seleccionado</label>
          <input id="featured" name="featured" rows="8" type="checkbox"
            class="block p-2.5 w-full text-sm text-[var(--main-text-light)] bg-[var(--main-light-1)] rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Descripción del producto" />
        </div>
        <div class="sm:col-span-2">
          <label for="description"
            class="block mb-2 text-sm font-medium text-[var(--main-text-light)] dark:text-white">Descripción</label>
          <textarea id="description" name="description" rows="8"
            class="block p-2.5 w-full text-sm text-[var(--main-text-light)] bg-[var(--main-light-1)] rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-[var(--main-dark-3)] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Descripción del producto" required-field></textarea>
        </div>
        <div class="flex items-center justify-center w-full" id="products-image-container">
          <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-[var(--main-dark-3)] hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                  upload</span>
                or drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">PNG o JPG
                (MAX. 5MB)</p>
            </div>
            <input id="dropzone-file" type="file" name="images" class="hidden" multiple />
          </label>
        </div>
        <div id="image-preview" class="mt-2"></div>
      </div>
      <button id="add-product-button" type="submit"
        class="bg-[var(--main-bg-dark)] hover:bg-[var(--main-dark-5)] text-[var(--main-text-dark)] p-2 mt-2 rounded-md">
        Agregar producto
      </button>
      <div
        class="hidden mt-2 items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
        role="alert" id="error-message">
        <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-8-3a1 1 0 1 0-2 0v2a1 1 0 0 0 2 0V7zm0 4a1 1 0 0 0-2 0v2a1 1 0 0 0 2 0v-2z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Error</span>
        <div>
          <span class="font-medium">Hubo un error</span>
          al crear el producto.
        </div>
      </div>
    </form>
  </div>
</section>