<head>
    <link rel="stylesheet" href="css/admin/invoice.css">
</head>
<div id="invoice-main-container">
    <div id="invoice-header"></div>
    <div id="invoice-second-header"></div>
    <div id="invoice-items-section"></div>
</div>