<div class="bg-gray-100 flex justify-center items-center h-screen relative overflow-hidden">

  {{! <div class="absolute top-0 right-0 text-[#343a40] text-center p-8">
    <a href="/" class="hover:underline active:text-gray-600">Volver al inicio</a>
  </div> }}

  <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <img
      src="https://images.unsplash.com/photo-1609143739217-01b60dad1c67?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Placeholder Image" class="object-cover w-full h-full" />
  </div>
  <!-- Right: Register Form -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4">Nuevo usuario administrador</h1>
    <form action="" method="POST" class="register-form" id="registerForm">
      <!-- Full Name Input -->
      <div class="mb-4">
        <label for="full_name" class="block text-gray-600">Nombre Completo</label>
        <input type="text" id="full_name" name="full_name"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-[#343a40]"
          autocomplete="off" placeholder="Nombre Apellido" />
      </div>
      <!-- Eamil Input -->
      <div class="mb-4">
        <label for="email" class="block text-gray-600">Email</label>
        <input type="email" id="email" name="email"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-[#343a40]"
          autocomplete="off" placeholder="ejemplo@ejemplo.com" />
      </div>
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-gray-600">Contraseña</label>
        <input type="password" id="password" name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-[#343a40]"
          autocomplete="off" placeholder="••••••••••" />
      </div>
      <!-- Repeat Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-gray-600">Repetir Contraseña</label>
        <input type="password" id="password-repeated" name="password-repeated"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-[#343a40]"
          autocomplete="off" placeholder="••••••••••" />
      </div>
      <!-- Remember Me Checkbox -->
      {{! <div class="mb-4 flex items-center">
        <input type="checkbox" id="remember" name="remember" class="text-[#343a40]" />
        <label for="remember" class="text-gray-600 ml-2">Remember Me</label>
      </div> }}
      <!-- Forgot Password Link -->
      {{! <div class="mb-6 text-[#343a40]">
        <a href="#" class="hover:underline">Olvidaste la contraseña?</a>
      </div> }}
      <!-- Register Button -->
      <button type="submit" id="submit-register"
        class="bg-[#343a40] hover:bg-[#495057] text-white font-semibold rounded-md py-2 px-4 w-full">Registrarse</button>
    </form>
    <div class="top-0 right-0 text-[#343a40] text-center p-8">
      <a href="/" class="hover:underline active:text-gray-600">Volver al inicio</a>
    </div>
  </div>
</div>
<script type="module" src="/js/admin/admin-register.js"></script>